# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine

/Users/elizabethherdter/anaconda3/lib/python2.7/site-packages/pandas/_libs/__init__.py:4: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from .tslib import iNaT, NaT, Timestamp, Timedelta, OutOfBoundsDatetime
/Users/elizabethherdter/anaconda3/lib/python2.7/site-packages/pandas/__init__.py:26: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import (hashtable as _hashtable,
/Users/elizabethherdter/anaconda3/lib/python2.7/site-packages/pandas/core/dtypes/common.py:6: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import algos, lib
/Users/elizabethherdter/anaconda3/lib/python2.7/site-packages/pandas/core/util/hashing.py:7: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import hashing, tslib
/Users/elizabethherdter/anaconda3/lib/python2.7/site-packages/pandas/core/indexes/base.py:7: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import (lib, index as libindex, tslib as libts,
/Users/elizabethherdter/anaconda3/lib/python2.7/site-packages/pandas/tseries/offsets.py:21: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  import pandas._libs.tslibs.offsets as liboffsets
/Users/elizabethherdter/anaconda3/lib/python2.7/site-packages/pandas/core/ops.py:16: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import algos as libalgos, ops as libops
/Users/elizabethherdter/anaconda3/lib/python2.7/site-packages/pandas/core/indexes/interval.py:32: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs.interval import (
/Users/elizabethherdter/anaconda3/lib/python2.7/site-packages/pandas/core/internals.py:14: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import internals as libinternals
/Users/elizabethherdter/anaconda3/lib/python2.7/site-packages/pandas/core/sparse/array.py:33: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  import pandas._libs.sparse as splib
/Users/elizabethherdter/anaconda3/lib/python2.7/site-packages/pandas/core/window.py:36: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  import pandas._libs.window as _window
/Users/elizabethherdter/anaconda3/lib/python2.7/site-packages/pandas/core/groupby/groupby.py:68: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import (lib, reduction,
/Users/elizabethherdter/anaconda3/lib/python2.7/site-packages/pandas/core/reshape/reshape.py:30: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import algos as _algos, reshape as _reshape
/Users/elizabethherdter/anaconda3/lib/python2.7/site-packages/pandas/io/parsers.py:45: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  import pandas._libs.parsers as parsers
/Users/elizabethherdter/anaconda3/lib/python2.7/site-packages/pandas/io/pytables.py:50: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import algos, lib, writers as libwriters

In [38]:
# load messages dataset
messages = pd.read_csv('disaster_messages.csv', dtype=str, encoding='latin-1')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [64]:
messages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26248 entries, 0 to 26247
Data columns (total 4 columns):
id          26248 non-null object
message     26248 non-null object
original    10184 non-null object
genre       26248 non-null object
dtypes: object(4)
memory usage: 820.3+ KB

In [39]:
# load categories dataset
categories = pd.read_csv('disaster_categories.csv', dtype=str, encoding='latin-1')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [40]:
# merge datasets
df = categories.set_index('id').join(messages.set_index('id'))
df.head()

,categories,message,original,genre
id,,,,
100,related-1;request-1;offer-0;aid_related-0;medi...,a lot and we don't have any news of him. We ha...,"anpil E nou pa gen oken nouvel li, menm ke a n...",direct
1000,related-0;request-0;offer-0;aid_related-0;medi...,Since last night i cannot get through ( on cel...,De pi ye swa m pa ka pase. Yo toujou di mwen r...,direct
10000,related-0;request-0;offer-0;aid_related-0;medi...,you have been said that you ganna put 100 gour...,Nou te di n'ap mete 100 gdes sou telefon nan p...,direct
10002,related-1;request-0;offer-0;aid_related-0;medi...,How many aftershocks we can have.,Konbyen sekous ki rete nou ank.,direct
10003,related-1;request-0;offer-0;aid_related-0;medi...,Haiti honey you're the rose thorns find the fi...,Haiti cherie tu es la rose qui se trouves au c...,direct

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [41]:
# create a dataframe of the 36 individual category columns
categories = df.categories.str.split(';', expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
id,,,,,,,,,,,,,,,,,,,,,
100,related-1,request-1,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-1
1000,related-0,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
10000,related-0,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
10002,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
10003,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [43]:
# select the first row of the categories dataframe
row = categories.iloc[0]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = row.apply(lambda x: x[:len(x)-2])
print(category_colnames)

0                    related
1                    request
2                      offer
3                aid_related
4               medical_help
5           medical_products
6          search_and_rescue
7                   security
8                   military
9                child_alone
10                     water
11                      food
12                   shelter
13                  clothing
14                     money
15            missing_people
16                  refugees
17                     death
18                 other_aid
19    infrastructure_related
20                 transport
21                 buildings
22               electricity
23                     tools
24                 hospitals
25                     shops
26               aid_centers
27      other_infrastructure
28           weather_related
29                    floods
30                     storm
31                      fire
32                earthquake
33                      cold
34             other_weather
35             direct_report
Name: 100, dtype: object

In [44]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head(10)

100,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
id,,,,,,,,,,,,,,,,,,,,,
100,related-1,request-1,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-1
1000,related-0,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
10000,related-0,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
10002,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
10003,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
10005,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
10006,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
10007,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-1
10008,related-0,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
10009,related-2,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [45]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].astype(str).str[-1]

    # convert column from string to numeric
    categories[column] = categories[column].astype(int)
    
    
categories.head()

100,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
id,,,,,,,,,,,,,,,,,,,,,
100,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10002,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10003,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [96]:

for columns in categories:
    print(categories[columns].value_counts())

1    20042
0     6140
2      204
Name: related, dtype: int64
0    21873
1     4513
Name: request, dtype: int64
0    26265
1      121
Name: offer, dtype: int64
0    15432
1    10954
Name: aid_related, dtype: int64
0    24287
1     2099
Name: medical_help, dtype: int64
0    25067
1     1319
Name: medical_products, dtype: int64
0    25661
1      725
Name: search_and_rescue, dtype: int64
0    25915
1      471
Name: security, dtype: int64
0    25523
1      863
Name: military, dtype: int64
0    26386
Name: child_alone, dtype: int64
0    24702
1     1684
Name: water, dtype: int64
0    23430
1     2956
Name: food, dtype: int64
0    24044
1     2342
Name: shelter, dtype: int64
0    25976
1      410
Name: clothing, dtype: int64
0    25780
1      606
Name: money, dtype: int64
0    26085
1      301
Name: missing_people, dtype: int64
0    25506
1      880
Name: refugees, dtype: int64
0    25182
1     1204
Name: death, dtype: int64
0    22922
1     3464
Name: other_aid, dtype: int64
0    24677
1     1709
Name: infrastructure_related, dtype: int64
0    25174
1     1212
Name: transport, dtype: int64
0    25041
1     1345
Name: buildings, dtype: int64
0    25848
1      538
Name: electricity, dtype: int64
0    26227
1      159
Name: tools, dtype: int64
0    26103
1      283
Name: hospitals, dtype: int64
0    26266
1      120
Name: shops, dtype: int64
0    26077
1      309
Name: aid_centers, dtype: int64
0    25231
1     1155
Name: other_infrastructure, dtype: int64
0    19043
1     7343
Name: weather_related, dtype: int64
0    24209
1     2177
Name: floods, dtype: int64
0    23922
1     2464
Name: storm, dtype: int64
0    26104
1      282
Name: fire, dtype: int64
0    23925
1     2461
Name: earthquake, dtype: int64
0    25853
1      533
Name: cold, dtype: int64
0    25007
1     1379
Name: other_weather, dtype: int64
0    21273
1     5113
Name: direct_report, dtype: int64

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [46]:
# drop the original categories column from `df`
df = df.drop(columns=['categories'])
df = pd.concat([categories,df], axis=1)
df.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,floods,storm,fire,earthquake,cold,other_weather,direct_report,message,original,genre
id,,,,,,,,,,,,,,,,,,,,,
100,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,a lot and we don't have any news of him. We ha...,"anpil E nou pa gen oken nouvel li, menm ke a n...",direct
1000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Since last night i cannot get through ( on cel...,De pi ye swa m pa ka pase. Yo toujou di mwen r...,direct
10000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,you have been said that you ganna put 100 gour...,Nou te di n'ap mete 100 gdes sou telefon nan p...,direct
10002,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,How many aftershocks we can have.,Konbyen sekous ki rete nou ank.,direct
10003,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Haiti honey you're the rose thorns find the fi...,Haiti cherie tu es la rose qui se trouves au c...,direct

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [11]:
# check number of duplicates
duplicateRowsDF = df[df.duplicated()]
duplicateRowsDF

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,floods,storm,fire,earthquake,cold,other_weather,direct_report,message,original,genre
id,,,,,,,,,,,,,,,,,,,,,
10286,1,1,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,1,Me and my family every time it rains you do no...,Mwen men ak fanmil chak fwa lapli tonbe tet no...,direct
10286,1,1,0,1,0,0,0,0,1,0,...,0,1,0,0,0,0,1,Me and my family every time it rains you do no...,Mwen men ak fanmil chak fwa lapli tonbe tet no...,direct
11503,1,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,HELP THE EARTHQUAKE VICTIMS IN HAITI http tiny...,NaN,social
11503,1,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,HELP THE EARTHQUAKE VICTIMS IN HAITI http tiny...,NaN,social
12416,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,"Wand to donate jackets , hot meals , non-peris...",NaN,direct
12416,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,"Wand to donate jackets , hot meals , non-peris...",NaN,direct
12420,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,I can help deliver food to seniors who are tra...,NaN,direct
12420,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,I can help deliver food to seniors who are tra...,NaN,direct
12589,1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,I have men and woman clothing plus 3-4t girl c...,NaN,direct
12589,1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,I have men and woman clothing plus 3-4t girl c...,NaN,direct
12589,1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,I have men and woman clothing plus 3-4t girl c...,NaN,direct
13059,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,"Sent email , matched to Seniors are living in ...",NaN,direct
13059,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,"Sent email , matched to Seniors are living in ...",NaN,direct
13059,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,"Sent email , matched to Seniors are living in ...",NaN,direct
13914,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Falta tan tan poco.. ¬¨¬¥Simply Red - Holding ...,NaN,social
13914,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Falta tan tan poco.. ¬¨¬¥Simply Red - Holding ...,NaN,social
14073,1,0,0,1,1,0,0,0,0,0,...,1,0,0,0,0,0,0,Area Jam gulab pahore Area ghulam haidar pahor...,(basti jam gulab pahore basti ghulam haidar pa...,direct
14073,1,0,0,1,1,0,0,0,0,0,...,1,0,0,0,0,0,0,Area Jam gulab pahore Area ghulam haidar pahor...,(basti jam gulab pahore basti ghulam haidar pa...,direct
14073,1,0,0,1,1,0,0,0,0,0,...,1,0,0,0,0,0,0,Area Jam gulab pahore Area ghulam haidar pahor...,(basti jam gulab pahore basti ghulam haidar pa...,direct
14135,1,1,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,1,in my village after collapse of whole infrastr...,mera gaon pura selab se tehas -nehas ho chuka ...,direct
14135,1,1,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,1,in my village after collapse of whole infrastr...,mera gaon pura selab se tehas -nehas ho chuka ...,direct
14246,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Mera ghar selab ki waja sy gir giya hy. aur do...,a. a. a. ...,direct
14246,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Mera ghar selab ki waja sy gir giya hy. aur do...,a. a. a. ...,direct
14246,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Mera ghar selab ki waja sy gir giya hy. aur do...,a. a. a. ...,direct
14592,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,MAOZA U REP ',MAOZA MUZAFAR u REP ',direct
14592,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,MAOZA U REP ',MAOZA MUZAFAR u REP ',direct
14592,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,MAOZA U REP ',MAOZA MUZAFAR u REP ',direct
15169,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,"All #NYC bridges, tunnels &amp; mta closed; ov...",NaN,social
15169,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,"All #NYC bridges, tunnels &amp; mta closed; ov...",NaN,social
15169,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,"All #NYC bridges, tunnels &amp; mta closed; ov...",NaN,social
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6327,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,jel2 Acte 5: 29 2chr7 Lev11 Ecl9 Ecl4 jos5 ch...,jel2 Acte 5 : 29 2chr7 Lev11 Ecl9 Ecl4 jos5 c...,direct
6327,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,jel2 Acte 5: 29 2chr7 Lev11 Ecl9 Ecl4 jos5 ch...,jel2 Acte 5 : 29 2chr7 Lev11 Ecl9 Ecl4 jos5 c...,direct
6393,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,I'd like to sign up in the 4636 program please,Mwen ta renmen enskri nan program 46 36 sil vo...,direct
6393,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,I'd like to sign up in the 4636 program please,Mwen ta renmen enskri nan program 46 36 sil vo...,direct
6492,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,I'd like to know an email to find a job,Mwen ta remen konnen email pou jwenn jb,direct
6492,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,I'd like to know an email to find a job,Mwen ta remen konnen email pou jwenn jb,direct
6515,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,I would like to find some informations about t...,Mwen ta renmen jwenn repons sou keksyon mwen t...,direct
6515,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,I would like to find some informations about t...,Mwen ta renmen jwenn repons sou keksyon mwen t...,direct
6573,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,"I am a victim. I need food, water and a radio.",Mwen se sinistre mmen bezwen manje dlo ak yon ...,direct
6573,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,"I am a victim. I need food, water and a radio.",Mwen se sinistre mmen bezwen manje dlo ak yon ...,direct
6573,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,"I am a victim. I need food, water and a radio.",Mwen se sinistre mmen bezwen manje dlo ak yon ...,direct
6687,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Tell the President to give the nation over to ...,Di prezidan remt peyi a bay Bondye.,direct
6687,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Tell the President to give the nation over to ...,Di prezidan remt peyi a bay Bondye.,direct
7747,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,where we can paticipate in the law reorganizat...,ki kote nou ka patisipe nan dwa reyamenajman yo?,direct
7747,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,where we can paticipate in the law reorganizat...,ki kote nou ka patisipe nan dwa reyamenajman yo?,direct
7892,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,Good morning!How are you doing my brothers whe...,Bonjou! Kman nou ye fr'm yo? Kil sikln nan te ...,direct
7892,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,Good morning!How are you doing my brothers whe...,Bonjou! Kman nou ye fr'm yo? Kil sikln nan te ...,direct
7892,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,Good morning!How are you doing my brothers whe...,Bonjou! Kman nou ye fr'm yo? Kil sikln nan te ...,direct
7945,1,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,1,What can i do to protect my self if the earthq...,KI PREKOSYON POU M TA F SI TA W YON SKOUS AP P...,direct
7945,1,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,1,What can i do to protect my self if the earthq...,KI PREKOSYON POU M TA F SI TA W YON SKOUS AP P...,direct
804,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct
804,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct
804,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct
8190,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,"here,i'm i don't find medicin just resting to ...",Kote mwen ye a w pa jwenn oken sante se rete m...,direct
8190,1,1,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,1,"here,i'm i don't find medicin just resting to ...",Kote mwen ye a w pa jwenn oken sante se rete m...,direct
862,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,What is the address of the radio station? I as...,Ki adres radyo a? Paske m bezwen al depoze dos...,direct
862,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,What is the address of the radio station? I as...,Ki adres radyo a? Paske m bezwen al depoze dos...,direct
9131,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NOTES: this sms is not important because this ...,Wap kale kw pou di se moun serye ou konn pran ...,direct
9131,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NOTES: this sms is not important because this ...,Wap kale kw pou di se moun serye ou konn pran ...,direct
9131,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,NOTES: this sms is not important because this ...,Wap kale kw pou di se moun serye ou konn pran ...,direct

In [47]:
# drop duplicates
df = df.drop_duplicates()

In [48]:
# check number of duplicates
df.duplicated().sum()

0

In [49]:
categories.describe()

100,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
count,26386.000000,26386.000000,26386.000000,26386.000000,26386.00000,26386.000000,26386.000000,26386.00000,26386.000000,26386.0,...,26386.000000,26386.000000,26386.000000,26386.000000,26386.000000,26386.000000,26386.000000,26386.000000,26386.000000,26386.000000
mean,0.775032,0.171038,0.004586,0.415144,0.07955,0.049989,0.027477,0.01785,0.032707,0.0,...,0.011711,0.043773,0.278292,0.082506,0.093383,0.010687,0.093269,0.020200,0.052263,0.193777
std,0.435692,0.376549,0.067564,0.492756,0.27060,0.217926,0.163471,0.13241,0.177871,0.0,...,0.107583,0.204594,0.448166,0.275139,0.290974,0.102828,0.290815,0.140687,0.222560,0.395264
min,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.000000,0.000000,1.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.0,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.00000,1.000000,0.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [50]:
#remove child alone category because there are no notes for it
df = df.drop(['child_alone', 'original'], axis=1)

In [51]:
df.columns

Index([u'related', u'request', u'offer', u'aid_related', u'medical_help',
       u'medical_products', u'search_and_rescue', u'security', u'military',
       u'water', u'food', u'shelter', u'clothing', u'money', u'missing_people',
       u'refugees', u'death', u'other_aid', u'infrastructure_related',
       u'transport', u'buildings', u'electricity', u'tools', u'hospitals',
       u'shops', u'aid_centers', u'other_infrastructure', u'weather_related',
       u'floods', u'storm', u'fire', u'earthquake', u'cold', u'other_weather',
       u'direct_report', u'message', u'genre'],
      dtype='object')

In [101]:
#remove rows where related = 2 and there are no other 1 values; check that when related  =2 there are no other options
#rel = categories[categories.related ==2]
##df1 = df[df.related !=2]
#rel['sum'] = rel.sum(axis=1)
#rel.describe()
#confirmed

In [102]:
#df1 = df[df['related'] !=2]
#df1

In [103]:
#look at rows with message that starts with "NOTES:"
#df1[df1.message.str.contains('NOTES:')]

In [104]:
#df1.message.value_counts()

In [105]:
#make sure that every row has at least one category marked = sum of the categories columns >=1
#col_list= list(df.drop(['direct_report','message','original','genre'], axis=1))
#col_list

#df['sum'] = df[col_list].sum(axis=1)

In [106]:
#df[df['sum'] ==0]

In [76]:
#remove rows where there is no category marked - where sum is == 0
#df1 = df[df['sum'] !=0]

In [107]:
#df1.info()

In [52]:
df[['related', 'message']].sample(20)

       related                                            message
id
13083        1  pick up and donate clothes , gloves , towels ,...
29127        1  The State Government has distributed gratuitou...
16994        0  Now we have CERF, which approves funds in as l...
16497        1  Visitors over the years would notice the gradu...
15990        1  Merapi's most deadly eruption occurred in 1930...
17382        1  In the worst-hit village of Waltango and three...
8867         1  Hi,I have a lot of problem,I dont fin any thin...
16367        1  In some areas the torrential rain fell consist...
28070        0  Therapeutic and supplementary foods, growth mo...
29428        1  Currently there are 110 handpump wells in Masl...
13621        1  RT iredscience Chile quake moved the city of C...
11346        1  Major earthquake hits Haiti MIAMI A powerful 7...
8412         0  Please can we give me any information about po...
25381        0  Technical advice and assessing the water-quali...
29855        1  French officials say their operation in the If...
6270         0  Good evening. Sony dropped my call to you. I h...
1384         0  Is it true they say that Americans have taken ...
26113        0  In the last decade, she said Bangladesh had ac...
6043         1  Make my message arrive please, Haitel still is...
3631         1  ..everything passed before my eyes, we arrived...

In [45]:
df1[['related','sum']].describe()

            related           sum
count  20094.000000  20094.000000
mean       1.009356      3.894098
std        0.096275      2.609782
min        1.000000      1.000000
25%        1.000000      1.000000
50%        1.000000      4.000000
75%        1.000000      5.000000
max        2.000000     27.000000

In [46]:
df1[df1['sum'] > 25]

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,water,...,storm,fire,earthquake,cold,other_weather,direct_report,message,original,genre,sum
id,,,,,,,,,,,,,,,,,,,,,
16295,1,1,0,1,1,1,1,0,1,1,...,1,1,1,1,1,1,"Prior to this disaster, we experienced devasta...",NaN,news,26
24243,1,1,0,1,1,1,0,1,0,1,...,1,0,1,0,1,0,While the focus is to save lives and fight dis...,NaN,news,27

In [28]:
#remove rows with message starting with "NOTES:"
#df3 = df2[~df2.message.str.contains("NOTES:")]

In [29]:
#df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19816 entries, 100 to 9999
Data columns (total 40 columns):
related                   19816 non-null int64
request                   19816 non-null int64
offer                     19816 non-null int64
aid_related               19816 non-null int64
medical_help              19816 non-null int64
medical_products          19816 non-null int64
search_and_rescue         19816 non-null int64
security                  19816 non-null int64
military                  19816 non-null int64
child_alone               19816 non-null int64
water                     19816 non-null int64
food                      19816 non-null int64
shelter                   19816 non-null int64
clothing                  19816 non-null int64
money                     19816 non-null int64
missing_people            19816 non-null int64
refugees                  19816 non-null int64
death                     19816 non-null int64
other_aid                 19816 non-null int64
infrastructure_related    19816 non-null int64
transport                 19816 non-null int64
buildings                 19816 non-null int64
electricity               19816 non-null int64
tools                     19816 non-null int64
hospitals                 19816 non-null int64
shops                     19816 non-null int64
aid_centers               19816 non-null int64
other_infrastructure      19816 non-null int64
weather_related           19816 non-null int64
floods                    19816 non-null int64
storm                     19816 non-null int64
fire                      19816 non-null int64
earthquake                19816 non-null int64
cold                      19816 non-null int64
other_weather             19816 non-null int64
direct_report             19816 non-null int64
message                   19816 non-null object
original                  6553 non-null object
genre                     19816 non-null object
sum                       19816 non-null int64
dtypes: int64(37), object(3)
memory usage: 6.2+ MB

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [108]:
#df1.drop(['sum'], axis=1, inplace=True)

In [109]:
#df1.info()

In [110]:
#df3.head(20)

In [53]:
#convert related to 0,1
df[df['related'] == 2] = 0

In [54]:
df.related.value_counts()

1    19906
0     6309
Name: related, dtype: int64

In [18]:
df.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,water,...,floods,storm,fire,earthquake,cold,other_weather,direct_report,message,original,genre
id,,,,,,,,,,,,,,,,,,,,,
100,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,a lot and we don't have any news of him. We ha...,"anpil E nou pa gen oken nouvel li, menm ke a n...",direct
1000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Since last night i cannot get through ( on cel...,De pi ye swa m pa ka pase. Yo toujou di mwen r...,direct
10000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,you have been said that you ganna put 100 gour...,Nou te di n'ap mete 100 gdes sou telefon nan p...,direct
10002,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,How many aftershocks we can have.,Konbyen sekous ki rete nou ank.,direct
10003,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Haiti honey you're the rose thorns find the fi...,Haiti cherie tu es la rose qui se trouves au c...,direct

In [55]:
engine = create_engine('sqlite:///DisasterResponse.db')
df.to_sql('messages', con=engine, if_exists='replace', index=False)

In [56]:
test = 'DisasterResponse.db'
ret = 'sqlite:///' + test
ret

'sqlite:///DisasterResponse.db'

In [57]:
#check to see it works
# connect to the database
#conn = sqlite3.connect('population_data.db')

test =pd.read_sql('SELECT * FROM messages', engine)

In [58]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26215 entries, 0 to 26214
Data columns (total 37 columns):
related                   26215 non-null int64
request                   26215 non-null int64
offer                     26215 non-null int64
aid_related               26215 non-null int64
medical_help              26215 non-null int64
medical_products          26215 non-null int64
search_and_rescue         26215 non-null int64
security                  26215 non-null int64
military                  26215 non-null int64
water                     26215 non-null int64
food                      26215 non-null int64
shelter                   26215 non-null int64
clothing                  26215 non-null int64
money                     26215 non-null int64
missing_people            26215 non-null int64
refugees                  26215 non-null int64
death                     26215 non-null int64
other_aid                 26215 non-null int64
infrastructure_related    26215 non-null int64
transport                 26215 non-null int64
buildings                 26215 non-null int64
electricity               26215 non-null int64
tools                     26215 non-null int64
hospitals                 26215 non-null int64
shops                     26215 non-null int64
aid_centers               26215 non-null int64
other_infrastructure      26215 non-null int64
weather_related           26215 non-null int64
floods                    26215 non-null int64
storm                     26215 non-null int64
fire                      26215 non-null int64
earthquake                26215 non-null int64
cold                      26215 non-null int64
other_weather             26215 non-null int64
direct_report             26215 non-null int64
message                   26215 non-null object
genre                     26215 non-null object
dtypes: int64(35), object(2)
memory usage: 7.4+ MB

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.